# NEVER USE FOR PRODUCTION; THESE ARE VALUES FOR LOCAL DEV ONLY

# Change the name of this file to .env after updating it!

############
# [required]
# Postgres password
############

POSTGRES_PASSWORD=testpostgrespass

############
# [required]
# Langfuse credentials
# Each of the secret keys you can set to whatever you want, just make it secure!
# For the encryption key, use the command `openssl rand -hex 32`
#   openssl is available by defualt on Linux/Mac
#   For Windows, you can use the 'Git Bash' terminal installed with git
############

CLICKHOUSE_PASSWORD=super-secret-key-1
MINIO_ROOT_PASSWORD=super-secret-key-2
LANGFUSE_SALT=super-secret-key-3
NEXTAUTH_SECRET=super-secret-key-4
ENCRYPTION_KEY=your-super-secret-encryption-key # generate via `openssl rand -hex 32`

# Other variables are available and have default values in docker-compose.yml.
# Refer to the docker-compose.yml file for a full list of configurable variables.