volumes:
  open-webui:
  falkordb_data:
    driver: local
  mcp_logs:
    driver: local
  mlflow_data:

services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    restart: unless-stopped
    container_name: open-webui
    expose:
      - 8080/tcp
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - open-webui:/app/backend/data

  graphiti:
    extends:
      file: ./graphiti/mcp_server/docker/docker-compose.yml
      service: graphiti-falkordb